extends layout

block content
    <!-- Page Header -->
    header.masthead(style="background-image: url('/img/post-bg.jpg')")
        div.container
            div.row
                div.col-lg-8.col-md-10.mx-auto
                    div.site-heading
                        h1 Blogger
                        span.subheading Add Posts Below

    div.container
        div.row
            div.col-lg-8.col-md-10.mx-auto
                h2 Add Post
                ul.errors
                    if errors
                        each error, i in errors
                            li.alert.alert-danger #{error.msg}
                form(method="post", action="/posts/add", enctype="multipart/form-data")
                    .form-group
                        label Title:
                        input.form-control(name="title", type="text")
                    .form-group
                        label Category
                        select.form-control(name="category")
                            //- each category, i in categories
                            //-     option(value='#{category.title}') #{category.title}
                    .form-group
                        label Post Body
                        textarea.form-control(name="body", id="body")
                    //- .form-group
                    //-     label Post Image
                    //-     input.form-control(name="mainimage", type="file")
                    .form-group
                        label Author
                        input.form-control(name="author")
                    input.btn.btn-default(name="submit", type="submit", value="Add Post")
    
    <!-- Footer -->
    footer
        div.container
            div.row
                div.col-lg-8.col-md-10.mx-auto
                    ul.list-inline.text-center
                        li.list-inline-item
                            a(href="#")
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fa.fa-twitter.fa-stack-1x.fa-inverse
                        li.list-inline-item
                            a(href="#")
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fa.fa-facebook.fa-stack-1x.fa-inverse
                        li.list-inline-item
                            a(href="#")
                                span.fa-stack.fa-lg
                                    i.fa.fa-circle.fa-stack-2x
                                    i.fa.fa-github.fa-stack-1x.fa-inverse
                    p.copyright.text-muted Copyright &copy; Blogger 2018